html {
  scroll-behavior: smooth;
}

body {
  @import "./helpers.scss";

  @import "./Home/navigation.scss";

  @import "./Home/hero-slider.scss";

  @import "./Home/home_about.scss";

  @import "./Home/different.scss";

  @import "./Home/quiz.scss";

  @import "./Home/get_app.scss";

  @import "./Home/video.scss";

  @import "./Home/newsletter.scss";

  @import "./Home/footer.scss";

  @import "./Home/home_gallery.scss";

  @import "./WhatsApp.scss";

  #page_not_found {
    h2 {
      font-family: $permanentMarker;
      font-size: 30px;
      color: $site_green;
    }

    a {
      color: $site_green;
      font-weight: bold;
    }

    p {
      margin-top: 0;
      font-family: $poppins;
    }

    img {
      width: 100%;
      height: 400px;
    }

    #pnf_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}