#hero_nav {
  font-family: $poppins;
  background-image: url("https://64.media.tumblr.com/70c7fdf1c0af225de84d0787c33b027b/268a82ca6cb2a0f5-c6/s500x750/021df7474373701295ce311cf0bc29fd8e68e69a.gif");
  height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-color: rgba(0, 0, 0, 0.38);
  padding-top: 100px;

  #hero {
    text-align: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    margin: 0px 300px;
    padding-top: 20px;

    .carousel-status,
    .thumbs-wrapper {
      display: none;
      visibility: hidden;
    }

    p {
      font-family: $lato;
      font-weight: 700;
      font-size: 20px;
      margin: 0;
    }

    aside {
      margin-top: 60px;

      h1 {
        font-family: $singo;
        font-style: normal;
        font-weight: 600;
        font-size: 100px;
        margin: 0;

        span {
          color: #889a1a;
        }
      }
    }
  }
}

#mobile_nav {
  p {
    margin: 20px 10px;
  }

  a {
    font-weight: 300;
    font-size: 24px;
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.MuiDrawer-paper {
  width: 70%;
}

#nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;

  img {
    width: 60px;
    height: 50px;
  }

  aside {
    a {
      font-weight: 300;
      font-size: 24px;
      color: #1f1f1f;
      text-decoration: none;
      margin-left: 50px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.nav_scroll {
  background-color: white;

  aside {
    a {
      color: #1f1f1f !important;
    }
  }
}
